.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 80px 170px;
}

.services-title {
  position: relative;
}

.services-title h1 {
  padding: 0px 40px;
  font-size: 40px;
  font-weight: 600;
}

.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.04;
  cursor: pointer;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.services-format h3 {
  font-size: 24px;
  font-weight: 600;
}

.services-format h2 {
  font-size: 18px;
  font-weight: 800;
  background: linear-gradient(270deg, #facc22 50%, #f83600 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .services-format p{
    color: #d4d4d4;
    font-size: 12px;
    line-height: 20px;
    max-width: 150px;
} */

.services-readmore {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.services-format:hover {
  border: 2px solid #f83600;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  transition: 0.4s;
}

@media (max-width: 768px) {
  .services {
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }
  .services-title h1 {
    padding: 0;
    font-size: 40px;
  }
  .services-format {
    gap: 10px;
    padding: 32px;
  }
  .services-format h2 {
    font-size: 25px;
  }

  .right-arrow {
    width: 50px;
  }
  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
